<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.virtualo.app">

    <!-- Android 11+ da barcha ilovalarni ko'rish uchun ruxsat -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" 
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VirtualO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Stub Components for Virtualization -->
        <activity 
            android:name="com.virtualo.core.runtime.StubActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation|mcc|mnc|locale|touchscreen|keyboard|fontScale|uiMode|layoutDirection|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service 
            android:name="com.virtualo.core.runtime.StubService"
            android:exported="false" />

        <provider
            android:name="com.virtualo.core.runtime.StubContentProvider"
            android:authorities="com.virtualo.core.stub_provider"
            android:exported="false" />

    </application>

</manifest>
